.c-button{
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.c-button:hover{
    background: rgba(0,0,0, 0.2);
}

.c-button.small{
    padding: 6px 4px;
}

.c-button.middle{
    padding: 7px 7px;
}

.c-button.big{
    padding: 9px 10px;
}